h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 25px;
    margin-bottom: 30px;
}

p {
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 15px;
}

/* .container { */
   /* margin: 0 auto; /* Center the container horizontally */
    /*padding: 0 20px; /* Add some padding on the left and right sides */
/*} */

.welcome {
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 30px;
    width: 75%;
}

.header {
    border-bottom: 1px solid black;
    display: inline-block;
    width: 75%;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.designArchTitle {
    border-bottom: 1px solid black;
    display: inline-block;
    width: 75%;
}

.uiTitle {
    border-bottom: 1px solid black;
    display: inline-block;
    width: 75%;
}

.funTitle {
    border-bottom: 1px solid black;
    display: inline-block;
    width: 75%;
}

.conTitle {
    border-bottom: 1px solid black;
    display: inline-block; 
    width: 75%;
}