h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 25px;
    margin-bottom: 30px;
}
p {
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.header {
    border-bottom: 1px solid black;
    display: inline-block;
    width: 75%;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.introTitle{
    border-bottom: 1px solid black;
    display: inline-block;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.designArchTitle {
    border-bottom: 1px solid black;
    display: inline-block;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.uiTitle {
    border-bottom: 1px solid black;
    display: inline-block;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.funTitle {
    border-bottom: 1px solid black;
    display: inline-block;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.conTitle {
    border-bottom: 1px solid black;
    display: inline-block;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 30px; 
}