h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    margin: 50px;
}

.header {
    border-bottom: 1px solid black;
    display: inline-block;
    width: 100%;
}

.introhead {
    border-bottom: 1px solid black;
    display: inline-block;
    width: 100%;
}